* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1000; /* Mantém a sidebar acima do slider */
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ocupa a altura total da viewport */
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease; /* Transição suave de troca de imagem */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}

.slide .content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.slide .content button {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #d4af3700;
    color: white;
    border: none;
    cursor: pointer;
}

.slide.active {
    opacity: 1; /* Mostra a imagem ativa */
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.progress {
    width: 0;
    height: 100%;
    background-color: #556B2F; /* Verde Musgo */
    transition: width 10s linear;
}
